# ***STEPS INVOLVED***

1.   Text pre-processing
2.   Vectorization
3.   Scikit learn NLP imports  
4.   Natural Language Tool Kit (NLTK)
5.   ML Classifiers

In [ ]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
import nltk

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
import pandas as pd

In [ ]:
fake =pd.read_csv("/content/drive/MyDrive/Fake.csv")
genuine=pd.read_csv("/content/drive/MyDrive/True.csv")

In [ ]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [ ]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [ ]:
display(fake.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [ ]:
fake['target']=0
genuine['target']=1

In [ ]:
display(genuine.head(10))

                                               title  ... target
0  As U.S. budget fight looms, Republicans flip t...  ...      1
1  U.S. military to accept transgender recruits o...  ...      1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...      1
3  FBI Russia probe helped by Australian diplomat...  ...      1
4  Trump wants Postal Service to charge 'much mor...  ...      1
5  White House, Congress prepare for talks on spe...  ...      1
6  Trump says Russia probe will be fair, but time...  ...      1
7  Factbox: Trump on Twitter (Dec 29) - Approval ...  ...      1
8         Trump on Twitter (Dec 28) - Global Warming  ...      1
9  Alabama official to certify Senator-elect Jone...  ...      1

[10 rows x 5 columns]

In [ ]:
display(fake.head(10))

                                               title  ... target
0   Donald Trump Sends Out Embarrassing New Year’...  ...      0
1   Drunk Bragging Trump Staffer Started Russian ...  ...      0
2   Sheriff David Clarke Becomes An Internet Joke...  ...      0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4   Pope Francis Just Called Out Donald Trump Dur...  ...      0
5   Racist Alabama Cops Brutalize Black Boy While...  ...      0
6   Fresh Off The Golf Course, Trump Lashes Out A...  ...      0
7   Trump Said Some INSANELY Racist Stuff Inside ...  ...      0
8   Former CIA Director Slams Trump Over UN Bully...  ...      0
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...  ...      0

[10 rows x 5 columns]

In [ ]:
data=pd.concat([fake,genuine],axis=0)

In [ ]:
data=data.reset_index(drop=True)

In [ ]:
data=data.drop(['subject','date','title'],axis=1)

In [ ]:
print(data.columns)

Index(['text', 'target'], dtype='object')

# ***Tokenization***

In [ ]:
from nltk.tokenize import word_tokenize

In [ ]:
data['text']=data['text'].apply(word_tokenize)

# #***Stemming***

In [ ]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english")

In [ ]:
def stem_it(text):
  return [porter.stem(word) for word in text]

In [ ]:
data['text']=data['text'].apply(stem_it)

In [ ]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

# ***#Stopword Removal***

In [ ]:
#if we wanna use inbuilt stopwords:

#from nltk.corpus import stopwords
#nltk.download('stopwords')
#print(stopwords.words('english'))

In [ ]:
def stop_it(t):
  dt=[word for word in t if len(word)>2]
  return dt

In [ ]:
data['text']=data['text'].apply(stop_it)

In [ ]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [ ]:
data['text']=data['text'].apply(' '.join)

# #***Splitting***

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data['text'],data['target'])

In [ ]:
display(X_train.head())

15481    fox news host megyn kelli shut down liber gues...
25852    washington reuter u.s. presid donald trump sen...
20038    hang-on hang-on hang-on hang-on brook baldwin ...
43124    mexico citi reuter least four peopl were kill ...
2734     last week ton u.s. govern employe took twitter...
Name: text, dtype: object

In [ ]:
display(y_train.head())

15481    0
25852    1
20038    0
43124    1
2734     0
Name: target, dtype: int64

# #***Vectorization***

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf=TfidfVectorizer(max_df=0.7)

tfidf_train=my_tfidf.fit_transform(X_train)
tfidf_test=my_tfidf.transform(X_test)

In [ ]:
print(tfidf_train)

  (0, 16217)	0.05381031057011761
  (0, 87134)	0.027664597884268293
  (0, 82744)	0.0586128009354546
  (0, 81815)	0.03214530845338795
  (0, 72294)	0.035017373256211154
  (0, 81011)	0.03697063832835182
  (0, 79480)	0.041245076387419984
  (0, 65860)	0.04757787698387919
  (0, 57840)	0.02909351254568484
  (0, 21510)	0.0643111270255682
  (0, 30805)	0.03530670971683163
  (0, 13060)	0.07838128877575931
  (0, 64849)	0.03336813865683251
  (0, 75423)	0.06626579241712967
  (0, 23970)	0.07176174859462903
  (0, 81619)	0.030158414302572812
  (0, 11351)	0.05787682268094278
  (0, 81729)	0.030953596559456707
  (0, 51693)	0.024842929961153563
  (0, 45925)	0.035915693723046135
  (0, 12288)	0.026987959387577243
  (0, 75174)	0.04669570893791265
  (0, 45006)	0.024761708063078366
  (0, 26683)	0.07521262705627858
  (0, 7682)	0.03507769934914212
  :	:
  (33672, 59443)	0.05953379090949425
  (33672, 69614)	0.16560348347453938
  (33672, 20262)	0.06606820199055002
  (33672, 19875)	0.04846178195726773
  (33672, 81679)	0.021075481807546818
  (33672, 17844)	0.021130710517195683
  (33672, 90111)	0.01803471745447642
  (33672, 51347)	0.025801432562693013
  (33672, 24515)	0.03922831261349292
  (33672, 39235)	0.04927051477887835
  (33672, 60456)	0.026321794241958574
  (33672, 8203)	0.05690946513202743
  (33672, 81406)	0.022194275740706128
  (33672, 88744)	0.05449012043350552
  (33672, 77514)	0.03603630146963434
  (33672, 39957)	0.02396120790903877
  (33672, 89185)	0.026065101302548327
  (33672, 81858)	0.04656636024767676
  (33672, 13572)	0.018368776442179182
  (33672, 17239)	0.04877897170981337
  (33672, 89426)	0.036563095082192444
  (33672, 60116)	0.08059735796001666
  (33672, 65770)	0.10588109833634343
  (33672, 7377)	0.01788172946810185
  (33672, 27119)	0.0274387980801758

# #***LogisticRegression***

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1    = accuracy_score(y_test,pred_1)
print(cr1*100)

98.83296213808464

# #***PassiveAgressiveClassifier***

In [ ]:
from sklearn.linear_model import PassiveAggressiveClassifier
model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [ ]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is ',accscore*100)

The accuracy of prediction is  99.62583518930957